<div id="stickytypeheader" data-spy="affix" data-offset-top="197">
	<div class="container container-custom">
		<form class="form-inline form-group-custom">
			<div class="row">
				<div class="form-group">
					<input type="text" class="form-control" id="from" placeholder="From">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="to" placeholder="To">
				</div>
				<div class="form-group">
					<my-date-picker id="calender" 
					[options]="myDatePickerOptions"  (dateChanged)="onDateChanged($event)" placeholder="Please specify a date"></my-date-picker>
				</div>
				<div class="form-group">
					<my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)"></my-date-picker>
				</div>
			</div>
			<div class="row search-button-row">
				<button type="submit" class="button search-button pull-right">Submit</button>
			</div>
			<div class="row">
				<div class="col-sm-4">
				<div class="radio search-bar-label" *ngFor="let t of trip">
					<input id="trip" type="radio" class="with-font" name="trip" [(ngModel)]="user.trip" [value]="t.value"> 
					<label for="trip" style="font-weight: bold;">{{t.display}}</label>
				</div>
				</div>
				<div class="col-sm-8">
				<select name="adult" class="form-control dropBoxLabels" [(ngModel)]="user.adult">
					<option *ngFor="let a of adults" [ngValue]="Adult" >{{a.display}}</option>
				</select>
				<select name="children" class="form-control dropBoxLabels" [(ngModel)]="user.children">
        				<option *ngFor="let c of children" [ngValue]="children">{{c.display}}</option>
				</select>
				</div>
			</div>
		</form>
	</div>
</div>