/* You can add global styles to this file, and also import other style files */
.navbar-collapse.collapse-custom {
    background-color: #00bcd4;
    color: white;
    float:center;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 17;
}

.subMenu li a{
    font-size: 14px;
}

.dropdown-menu{
  position:absolute;
  z-index:17;
}

.col-sm-12-custom{
    background-color: #878787;
}

.formStyle{
    margin: auto;
}

.select{
     padding: 15px 70px;
}
.navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: right;
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 8px;
    padding: 9px 10px;
    position: relative;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc !important;
  border-radius: 1px;
}

.navbar-nav{
    margin-left: 15%;
}

hr{
    background-color: #bbbbbb; height: 1px; border: 0;
    margin: 0;
}

.navbar-nav a{
    color: #fff;
    font-size: 18px;
}

 #stickytypeheader {
    width: 100%;                  
}

.container-custom {
    width: 100%;
    background-color: #B3C89A;
    /*opacity: 0.7;    */
    /*padding: 25px;*/
}

.formcontainer {
    width: 940px;
    padding: 20px;
    
}

.forminputContainer {
    /*border:1px solid red;*/
    float:left;
}

.form-group-custom {
    display: inline-block;
    /*margin-bottom: 0;*/
    margin-top: 6%;
    /*margin-left: 20%;*/
    width: 100%;
}

.form-group {
    margin-right:-7px;
    width: 200px;    
    vertical-align: center;
}

.dropBoxLabels {
    width: 100% !important;
}

.search-button-row {
    /*border: 1px solid black;*/
    width: 13.5%;
    /*float: right;*/
    height: 78px; 
    display: flex;
    align-items: center;
    justify-content: center;   
}
.search-button-row search-button{
    vertical-align: middle;
}

.radioclass {
    margin: 6px;
    margin-left: 84px;
    vertical-align: bottom;
}

@media only screen 
and (max-width : 1050px) {
/* Styles */
    .formcontainer {
        position: static !important;
        top: 0px !important;
        opacity: 1 !important;
        max-width: 100%;
    }

    #sticky {
        display: none;
    }

    #formBlue {
        width: auto !important;
        padding: 0px;;
        background-color: #B3C89A !important;
        border-radius: 0px;
    }

    .search-button-row {
        /*background-color: green;*/
        clear: both;
        height: auto;
        width: auto;
        padding-top: 15px;
    }
    .form-group {
        /*margin:10px 30px 10px 10px;*/
        /*margin-right: 15px;*/
        margin-bottom: 13px !important;
        /*vertical-align: middle;*/
        width: 100%;
        height: 30px !important;
    }
    .forminputContainer {
        width: 100%;
    }
    .dropBoxLabels {
        width: auto;
        margin-bottom: 10px;
    }
    
    .ng2-auto-complete {
        width: 100%;
         margin-bottom: 10px;
    }
    .selection{
        width: 100% !important;
        margin-bottom: 10px;
    }
    .mydp{
        width: 100% !important;
         margin-bottom: 10px;
    }
    .selectiongroup{
        width: 100% !important;
         margin-bottom: 10px;
    }

    .radioclass {
        width: 30%;
        float: left;
    }

    button {
        padding-left: 90px !important;
        padding-right: 90px !important;
    }
}

@media only screen 
and (max-width : 600px) {
    .blue {
        margin-top: 20px;
    }
    button {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
}

#sticky {
    display: none;
    z-index:1;
}

button{
    background-color: #e37816;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    padding: 7px 32px;
    border-radius: 10px;
}

.center{
    margin: auto;
    width: 68%;
}

.col-sm-9-custom {
    width: 75%;
    margin-left: 0px;
}

.carousel-inner > .item > img,
  
.carousel-inner > .item > a > img {
      width: 100%;
      height: 80% !important; 
      max-height: 500px !important;
      margin: auto;
      display: inline-block;
}

/*.carousel-inner-main-slider {*/
    /*position: relative;*/
    /*width: 100% !important;*/
    /*height: 80% !important;*/
    /*max-height: 400px !important;*/
    /*margin: auto;*/
/*}*/
.carousel-inner-offers > .item > img, 

.carousel-inner-offers > .item > a > img {
      width: 100%;
      height: 50% !important; 
      max-height: 500px !important;
      margin: auto;
      display: inline-block;
}

.search-bar-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    /*padding-right: 5%;*/
    color: white;
    vertical-align: top;
}

.radio-button-searchBox {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: larger;
}

input[type=radio].with-font,
input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
    
input[type=radio].with-font ~ label:before{
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #535353;
    width: 1.4em;
}

input[type=radio].with-font:checked ~ label:before  {
    content: "\f00c";
    font-size: 1.2em;
    color: darkgreen;
    letter-spacing: 5px;
}

input[type=radio].with-font:focus ~ label:before,
input[type=radio].with-font:focus ~ label,
{                
    color: green;
}
label { font-size: 20px; }
/*.dottedLine {
    border-top: dotted 2px;
}*/

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #158f93;
}


/*.footer {
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #00bcd4;
}*/

.footer {
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 0;
    height: auto;
    background-color: #00bcd4;
    color: white;
    font-size: medium;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.dateclass{
    width:100%;
}

.dateclass.placeholderclass::before{
    width:100%;
    content:attr(placeholder);
    background-color:#FFFFFF;
}

.dateclass.placeholderclass:hover::before{
    width:0%;
    content:"";
}

.app-footer {
    /*width: 100%;*/
    color: white;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 18%;
    padding-right: 18%;
}

.footer-ul {
    background-color: #00bcd4;
    color: white;
} 

.footer-a {
    color: white;
}
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}