<nav class="navbar-collapse collapse-custom">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#respo">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="respo">
			<ul class="nav navbar-nav">
				<li class="active dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<span class="caret"></span></a>
					<ul class="dropdown-menu subMenu">
						<li><a href="#" class="center"><button>LogIn</button></a>
							<a href="#">New Customer Sing Up here</a></li>
						<hr/>
						<li><a href="#">Agent Login</a></li>
						<hr/>
						<li><a href="#">My Booking</a></li>
						<hr/>
						<li><a href="#">Cancel Booking</a></li>
						<hr/>
						<li><a href="#">Reschedule Booking</a></li>
						<hr/>
						<li><a href="#">Print E-tickets</a></li>
					</ul>
				</li>
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Recent Search<span class="caret"></span></a>
					<ul class="dropdown-menu subMenu">
						<li><a href="#">Recent Search</a></li>
						<hr/>
						<li><a href="#">Packages</a></li>
						<hr/>
						<li><a href="#">Customer Services</a></li>
					</ul>
				</li>
				<li><a href="#">Packages</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Customer Services<span class="caret"></span></a>
					<ul class="dropdown-menu subMenu">
						<li><a href="#">24*7 Customer helpline </a></li>
						<hr/>
						<li><a href="#">Make payment</a></li>
						<hr/>
						<li><a href="#">Flight Cancellation Charges</a></li>
						<hr/>
						<li><a href="#">Booking Status</a></li>
						<hr/>
						<li><a href="#">Booking Refund</a></li>
						<hr/>
						<li><a href="#">Retail Offices</a></li>
					</ul>
				</li>
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">More ++<span class="caret"></span></a>
					<ul class="dropdown-menu subMenu">
						<li><a href="#">Deals</a></li>
						<hr/>
						<li><a href="#">Gift Cards</a></li>
						<hr/>
						<li><a href="#">Travel Stroies</a></li>
						<hr/>
						<li><a href="#">Wheather Info</a></li>
						<hr/>
						<li><a href="#">Travel Query</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>